@font-face {
    font-family: 'Varela_Round';
    src: url('../fonts/VarelaRound-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand-Regular.ttf') fromat('truetype');
}