/// @type Color
$text-color: #FFFBFF;

/// @type Color
$brand-color: #DB3A34;

/// @type Color
$dark-color: #1A1B1E;

/// @type Color
$light-dark-color: #2E2F2F;

/// @type Color
$yellow-color: #FFC93A;

/// @type List
$text-font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

/// @type List
$code-font-stack: 'Jetbrains', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

/// @type Length
$max-width: 1180px !default;